body {
    background-color:rgba(255, 255, 255, 0.493);
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d12533;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    color: #d0112b;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #d0112b;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  
  .font{
    font-family: 'Quicksand', sans-serif;
    font-size:medium;
    color: rgba(255, 255, 255);
  }
  
  .fonth{
    font-family: 'Quicksand', sans-serif;
    font-size:large;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.664);
    text-shadow:2px 2px 6px #000000;
  
  }
  .fsize{
    font-size:medium;
  }

  
  .bgf{
    background-color: rgba(0, 0, 0, 0.61);
    border-radius: 20px;
    padding: 20px;
    }
    
  .bg{
    background-color:rgba(255, 255, 255, 0.493);
    }
  
    .fcolor{
      color: red;
    }
  
   .btn{
      background-color:red;
      color: aliceblue;
      font-weight: bold;

        height: 40px;
 width: 100px;
 border-radius: 8px;
      }


      .btn:hover{

        background-color: white;
        color: black;
      }
    .btn.btn2{
        background-color: rgba(255, 41, 41, 0.616);
        font-weight: bold;
        color: white;
        }

    .hebele{
            text-align: center;
        }

        form {
            margin: 0px 50px 0px 500px; 
            display: inline-block;
        }

        input{
            height: 30px;
     width: 500px;
     border-radius: 8px;
        }
        